/* =========================
    FLEXBOX
========================= */

.nav-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}
.item-1 {
    order: 1;
}