 html {
    display: block;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

h2 {
    font-size: 1.75em;
    font-weight: lighter;
}

h2,
h3, 
#filter {
    margin-left: 10%;
}
h3 {
    font-size: 1em;
}
#filter {
    padding: 10px 40px;
}

.flex-container {
    width: 90%;
    display: flex; 
    flex-wrap: wrap;
    padding: 3px;
    margin: auto;
}

.shelf {
    background-color: lightblue;  
    width: 90%;
}

#overlay {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }


ul#books {
    flex-wrap: wrap;
}
li {
    text-decoration: none;
}

ul li {
    margin: 20px 10px;
    padding: 1em;
    height: 30em;
    width: 5em;
    font-size: 14px;
    list-style: none;
}
