 html {
    display: block;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

nav#navigation {
    color: white;
    background-color: black;
    height: 8em;
    width: 8em;
    float: right ;
}
ul {
    padding: 1em;
}

h1 {
    font-size: 2.5em;
    font-weight: lighter;
}

body {
    background-color: gray;
}
div.container {
    position: relative;
    margin: 5%;
}

button.slick-next.slick-arrow::before,
button.slick-prev.slick-arrow::before {
    color: black;
}

h2,
h3, 
#filter {
    margin-left: 10%;
}
h3 {
    font-size: 1em;
}
#filter {
    padding: 10px 40px;
}

img {
    max-width: 80%;
    /* height: 300px;
    width: 200px; */
}
ul {
    list-style-type: none;
}

section#controls {
    margin: 3vw;
}

footer {
    margin: auto;

}