 html {
    display: block;
    background: grey;
}

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
 
}
nav, header, footer {
	display: block;
}

h1 {
    font-size: 1.25em;
    font-weight: lighter;
}
h1, h2 {
    margin-left: 10%;
}
h2 {
    font-size: 1.0em;
    font-weight: lighter;
}

h3 {
    font-size: .85em;
}

li {
    font-size: 0.65em;
}

div#container {
    display: block;
}

div.slide {
    margin-top: 0;
}

nav#accordion {
    z-index: 1;
    color: white;
    margin-left: 10%;
    background-color: black;
    opacity: 60%;
    float: right;
}

ul {
    margin: 0;
    padding: 0.75em;
    list-style-type: none;
}

li a,
a:visited {
    color: lightgray;
}

a {
	text-decoration: none;
}
div.carousel {
    position: relative;
    margin: 5%;
}

button.slick-next.slick-arrow::before,
button.slick-prev.slick-arrow::before {
    color: lightgray;
}

img {
    max-width: 90%;
}

footer {
    margin: auto;
}

/* This project really needs media queries! Please add them ASAP! */

